@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1250px;
    min-height: 1000px;
    background-color: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1.4fr 2.15fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left-side {
    position: relative;
    background-color: #003147;
    padding: 40px;
}

.container .right-side {
    position: relative;
    background-color: #fff;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    object-fit:cover;
}

.profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.contactInfo {
    padding-top: 20px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}

.contactInfo ul li a:link {
    text-decoration:none;
    color: rgb(71, 226, 40);
}

.contactInfo ul li a:visited {
    color: rgb(71, 226, 40);
    text-decoration: none;
}

.contactInfo ul li a:hover {
    text-decoration:underline;
    color:#ff1100;
}

.container.right-side {
    position: relative;
    background-color: lightgray;
    padding: 40px;
}

.about {
    margin-bottom: 5px;   
}

.about:last-child {
    margin-top: 0;
}

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2px;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.about .box .course {
    min-width: 200px;
}

.about .box .course h4 {
    color: #848c90;
    font-weight: 600;
    margin-left: 10px;
}

.about .box .text ul li {
    padding-bottom: 5px;
}

.about .box .text ul li a:link {
    text-decoration:none;
    color: #004372;
}

.about .box .text ul li a:visited {
    color: #004372;
    text-decoration: none;
}

.about .box .text ul li a:hover {
    text-decoration:none;
    color:#03a9f4;
}

.about .box .text2 ul li {
    margin-top: 20px;
}

/* .about1 .text2 ul li {
    margin-left: 200px;
    padding-bottom: 5px;
}

.about1 .text2 ul li a:link {
    text-decoration:none;
    color: #03a9f4;
}

.about1 .text2 ul li a:visited {
    color: #03a9f4;
    text-decoration: none;
}

.about1 .text2 ul li a:hover {
    text-decoration:underline;
    color:#ff1100;
}

.about1 {
    margin-bottom: 20px;   
} */

.skills {
    margin-bottom: 20px;
}

.skills .title2 {
    margin-bottom: 20px;
}

.skills .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-gap: 20px;
}

.skills .grid-container .image3 {
    margin-left: 20px;
}

.skills .grid-container .image3 .text3 {
    margin-left: 18px;
}

.skills .grid-container .image3 .text4 { 
    margin-left: 10px;
}

.experience .name-company{
    display: grid;
    gap: 10px;
    margin-left: 5px;
}

.experience .course {
    margin: 12px 0 12px 5px;
}

.experience .name-company .position {
    font-weight: 400;
    margin-left: 5px;
}

.experience .name-company .text-2{
    margin-left: 40px;
    font-size: 16px;
}

.experience .name-company .text-2 a{
    font-weight: 600;
}

.experience .name-company .text-2 a:link{
    text-decoration: none;
    color: #004372;
}

.experience .name-company .text-2 a:visited{
    text-decoration: none;
    color: #004372;
}

.experience .name-company .text-2 a:hover{
    text-decoration: none;
    color: #03a9f4;
}

.experience .name-company .text-2 li {
    margin-bottom: 10px;
}

.experience .name-company .text-2 li .desc {
    padding-left: 20px;
}

.experience .name-company .text-2 li .desc .description {
    padding-right: 5px;
    font-weight: 500;
}
/* .skills .grid-container .image3  text {
    text-align: left;
} */
/* .skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #cecccc;
}

.skills .box .percent div {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background: #1889bd;
} */

.interest ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
    list-style: none;
    color: rgb(7, 5, 7);
    font-weight: 600;
    margin: 20px 0 20px 30px;
}

.interest ul li .fa {
    color: #1889bd;
    font-size: 30px;
    width: 40px;
}